body {
    background: #000;
    color: #fff;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.2); */
}


/* 공동사항 */
.section-title {
    padding: 50px 25px;
}

.inner {
    background-color: rgba(127, 255, 212, 0.342);
    margin: 0 auto;
    padding: 20px;
    max-width: 1600px;
}

/* 이달의 추천 상품 */
.banner {
    display: block;
    /* background-color: rgba(94, 255, 0, 0.493); */
    margin: 0 auto;
    max-width: 100%;
    padding-top: 100px;
}

main section>h2 {
    font-size: 2.25em;
}

.store-arco-wrap {
    width: 100%;
}

.store-arco-list {
    display: flex;
    justify-content: center;
    gap: 1em;
    height: 420px;
}

.store-arco-list>li {
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.store-arco-list>li.active {
    flex: 5
}

.store-arco-list>li.active img {
    width: 100%;
}

.store-arco-list .img-box {
    height: 100%;
}

.store-arco-list img {
    max-width: none;
    height: 100%;
    display: block;
    transition: 0.3s;
}

.store-arco-list .text-box {
    position: absolute;
    top: 1em;
    left: 1em;
    white-space: nowrap;
    font-size: 1.2em;
    color: #202020;
}

.store-arco-list>li.active .text-box {
    top: 1em;
}

.store-arco-list .text-box>p {
    line-height: 1.5;
    font-weight: 300;
}

.store-arco-list .text-box .arco-category {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
}

.store-arco-list .arco-title,
.store-arco-list .arco-content {
    opacity: 0;
    transition: 0.4s;
    white-space: nowrap;
}

.store-arco-list>.active .arco-title,
.store-arco-list>.active .arco-content {
    opacity: 1;
}



/* 스토어 */

.store-sub-tab-menu-list {
    display: flex;
    padding: 0 25px 20px;
    gap: 1em;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;

}

.store-sub-tab-menu-list>li:hover a {
    color: #DA291C;
    transition: 0.3s;
}

.store-sub-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 50px 48px;
    gap: 1.5em;
}

.store-sub-list>li {
    position: relative;
}

.store-sub-list .img-box {
    border: 1px dashed red;
    border-radius: 30px;
    background: #333;
    overflow: hidden;
}


.store-sub-list .text-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2d2d2d;
    padding: 1em;
    border-radius: 0 0 30px 30px;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    gap: 2em;
}

.store-sub-list .text-wrap .text-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* font-size: 1vw; */
}