* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    vertical-align: middle;
}

address,
em,
i {
    font-style: normal;
}

.blind {
    position: absolute;
    top: -9999px;
}

body {
    font-family: "Pretendard", sans-serif;
}