

/* header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width: 100%;
    z-index: 1000;
}

.main-logo {
    width: 300px;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.main-menu {
    display: flex;
    font-size: 1.25em;
    gap: 60px;
}

.main-menu>li {
    padding: 10px 0;
    position: relative;
}

.main-menu>li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #DA291C;
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li:hover::after {
    width: 100%;
}

.main-menu>li:hover .sub-menu {
    /* display: block; */
    height: auto;
}

.sub-menu {
    /* display: none; */
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 500px;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    z-index: 100;
}

.sub-menu>li>a {
    display: block;
    /* background: rgb(32, 32, 32); */
    text-align: center;
    padding: 15px 0;
}

/* .sub-menu>li>a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
} */

.sub-menu>li>a:hover {
    color: #DA291C;
}

.gnb-list {
    display: flex;
    gap: 20px;
}

/* 모바일 메뉴 */
.mobile-menu-wrap {
    /* display: block; */
    display: none;
    position: fixed;
    top: 0;
    left: -9999px;
    width: 60%;
    height: 100vh;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.9);
}

.mobile-menu-wrap.active {
    left: 0;
}

.mobile-menu-wrap .mobile-menu-list {
    padding: 30px 20px;
    line-height: 2.3;
    font-size: 1.6em;
}

.mobile-menu-wrap .mobile-menu-list>li>a {
    display: block;
    width: 100%;
    /* background-color: red; */
}

.mobile-menu-wrap .mobile-menu-list>li>a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: 0.5s;
}

.mobile-menu-wrap .mobile-menu-list>li:hover>a::after {
    width: 100%;
}

.mobile-menu-list .mobile-sub-menu {
    display: block;
    font-size: 16px;
    text-indent: 20px;
    /* padding: 10px; */
}

.mobile-menu-list .mobile-sub-menu>li>a {
    display: block;
    width: 100%;
}

.mobile-menu-list .mobile-sub-menu>li:hover>a {
    color: #DA291C;
}

.mobile-menu-wrap .gnb-list {
    display: flex;
    padding: 10px 20px;
}

.close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.ham-btn {
    /* display: block; */
    display: none;
    width: 24px;
    height: 16px;
    /* position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%); */
}

.ham-btn>a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ham-btn>a>span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}