@media screen and (max-width:1280px) {
    .curator-part>.inner>h2 {
        font-size: 2em;
    }

    /* ----------------------- curator section -----------------------------*/
    .curator-moive-item .curator-moive-poster>img {
        border-radius: 18px;
    }
}

@media screen and (max-width:860px) {
    .curator-moive-poster {
        width: 38%;
    }

    .curator-moive-item.swiper-slide .curator-moive-poster>img {
        border-radius: 24px;
    }

    .curator-moive-info {
        width: 65%;
    }


    .curator-moive-info .comment-wrap {
        gap: 10px;
    }

    .curator-moive-info .plot-info {
        width: auto;
    }
}

@media screen and (max-width:768px) {

    /* curator-moive-set - 추천영화 리스트 아이템*/
    .curator-moive-set {
        width: calc(100% * 5 + 24px);
    }

    /* curator-part 화살표 */
    .curator-part .curator-info-arrow .arrow-btn>li>a {
        display: block;
    }

    .curator-moive-item.swiper-slide .curator-moive-poster>img {
        /* width: 50%; */
        border-radius: 16px;
    }

    .curator-moive-item.active .curator-moive-poster>img {
        /* width: 50%; */
    }

    .curator-moive-info .title-wrap {
        gap: 8px;
    }

    .curator-moive-info .comment-wrap {
        gap: 8px;
    }

    /* 추천 리스트 아이템 - 영화내용*/
    .curator-moive-info .plot-info {
        /* display: none; */
    }

    /* 추천 영화 광고 영역 */

    .curator-ad-item {
        flex-direction: column;
    }

    .curator-moive-act-wrap>li>a {
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width:480px) {

    /* curator-moive-item */
    .curator-moive-item {
        /* border: 1px solid blue; */
        flex-direction: column;
    }

    .curator-moive-poster {
        width: 90%;
    }

    .curator-moive-item.swiper-slide .curator-moive-poster>img {
        transform: scale(1);
    }

    .curator-moive-info {
        width: 90%;
    }


    .curator-moive-item.swiper-slide {
        opacity: 1;
        filter: blur(0px);
    }

    .curator-moive-info .comment-wrap {
        gap: 6.25px;
    }

    .curator-moive-info .title-wrap {
        gap: 6.25px;
    }

    /* 추천 리스트 아이템 - 영화내용*/
    .curator-moive-info .plot-info {
        display: none;
    }

    .curator-moive-act-wrap {
        justify-content: center;
    }
}