:root {
    --main-color: #DA291C;
    --div-color: #1f1f1f;
}

body {
    background: #000;
    color: #fff;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.2); */
    padding: 0px 1em;
}

.main-logo {
    width: 300px;
}

.ham-btn,
.close-btn {
    display: none;
}

/* main */

.theater-loc {
    margin: 75px 50px;
    margin-top: 150px;
    padding: 50px;
    background: #1f1f1f;
    border-radius: 30px;
}

.theater-loc h2 {
    padding-bottom: 24px;
    font-size: 36px;
}

.theater-loc-list {
    display: flex;
    position: relative;
}


.theater-loc-list>li>a {
    padding: 0 12px;
    font-size: 20px;
    font-weight: bold;
}

.theater-loc-list>li>a span {
    font-size: 0.8em;
}

.theater-loc-list>li>a.active {
    color: var(--main-color);
    border-bottom: 2px solid;
}

.theater-wrap .theater-list-wrap {
    width: 100%;
}

/* .theater-loc-list .theater-list-wrap.active {
    z-index: 100;
    opacity: 1;
} */

.theater-wrap .theater-list {
    text-align: center;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    /* height: 0; */
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 10px;
    opacity: 0;
}

.theater-list.active {
    /* height: 100%; */
    position: relative;
    z-index: 100;
    opacity: 1;
}

.theater-list>li>a {
    display: block;
    padding: 10px 20px;
    background: rgba(250, 250, 250, 0.1);
    border-radius: 10px;
    /* border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 10px; */
}


.theater-list-wrap .theater-list .active {
    background: var(--main-color);
    border-radius: 10px;
}

/* section */
/* ------------------- 극장정보 ------------------- */
.theater .theater-info {
    background-image: url(../images/sub-cinema/theater-info.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    overflow: hidden;
    position: relative;
}

.theater .theater-info::before {
    content: "";
    display: block;
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 70%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.theater .inner {
    padding: 0 60px;
}

.theater-tab-menu {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 78px;
    width: 100%;
}

.theater-tab-menu .th-info {
    display: block;
    width: 100%;
    color: #666;
}

.theater-tab-menu .movie-sche {
    display: block;
    width: 100%;
    color: #666;
}

.theater-tab-menu a {
    display: block;
    width: 100%;
    text-align: center;
}

.theater-tab-menu .active {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.theater-info {
    /* position: relative; */
    margin-bottom: 100px;
    /* display: none; */
}

.theater-info-sche-wrap {
    position: relative;
    overflow: hidden;
}

.theater-info-sche-wrap .info-sche {
    position: absolute;
    opacity: 0;
    top: 0;
}

.theater-info-sche-wrap .info-sche.active {
    position: relative;
    opacity: 1;
    z-index: 100;
}

.theater-info .theater-name {
    padding: 50px;
    margin-bottom: 50px;
    z-index: 100;
}

.theater-info .theater-name .name {
    padding-bottom: 30px;
}

.theater-info .theater-name h2 {
    font-size: 36px;
}

.theater-info .theater-name>.name {
    display: flex;
    gap: 12px;
    align-items: center;
    position: relative;
}

.theater-info .theater-name>.name .map-btn a,
.map-close-btn a {
    font-size: 14px;
    padding: 10px;
    background: #fff;
    color: #000;
    border-radius: 30px;
}

.theater-info .theater-name>.name .map-btn.active {
    display: none;
}

.theater-info .theater-name>.name .map-close-btn {
    display: none;
}

.theater-info .theater-name>.name .map-close-btn.active {
    display: block;
}

.theater-info .theater-name p {
    font-size: 20px;
    font-weight: bold;
}

.theater-info .theater-name p>span {
    font-size: 20px;
    font-weight: 500;
}

.map-wrap {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
}

.map {
    width: 500px;
    height: 600px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    position: absolute;
    /* position: relative; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

.map-wrap.active {
    display: block;
    z-index: 1000;
}

.map h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 36px;
}

.map .close-btn {
    display: block;
    font-size: 24px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    right: 10px;
}

.map .map-address {
    margin-bottom: 12px;
}

.map .map-address img {
    margin-left: 25px;
    margin-right: 6px;
}

.map .map-address {
    font-size: 16px;
    font-weight: 500;
}

.map-img img {
    width: 450px;
    height: 450px;
    margin-left: 25px;
}

.facilities-floor-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facilities-floor-wrap .facilities {
    margin-bottom: 100px;
}

.facilities-floor-wrap .facilities h3 {
    font-size: 24px;
}

.facilities .facilities-list {
    display: flex;
    gap: 36px;
    text-align: center;
    margin-top: 24px;

}

.facilities .facilities-list img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.facilities .facilities-list p {
    font-size: 16px;
    font-weight: 500;
}

.facilities-floor-wrap .floor-info h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.floor-info-list {
    width: 500px;
    height: 160px;
    background: var(--div-color);
    border-radius: 30px;
    margin-bottom: 100px;
    /* padding-top: 40px; */
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.floor-info-list>ul {
    font-size: 16px;
    font-weight: bold;
}

.floor-info-list>ul>li {
    list-style: disc;
    margin-bottom: 12px;
}

.floor-info-list>ul>li:last-child {
    margin-bottom: 0;
}

/* .traffic-info {
    margin-bottom: 85px;
}

.traffic-info .bus {
    width: 77%;
    height: 100%;
    background: var(--div-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px 20px 45px;
}
*/

.traffic-info-wrap .traffic-sub-title {
    margin: 10px 0;
    text-indent: 5px;
}

.traffic-title {
    font-size: 1.5em;
}

.traffic-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    position: relative;
}

.traffic-info>div {
    background: #1F2025;
    border-radius: 30px;
    width: 23%;
    aspect-ratio: 1/1;
}

.traffic-info>div .link {
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 100px; */
    /* background: #8F9191; */
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.wrap::before{
    content: "";
    display: block;
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.traffic-info>div .link a {
    display: block;
    width: 250px;
    padding: 5px 10px;
    background: #373a42;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
}

.traffic-info>div .link a:hover {
    background: #4d515c;
}

.traffic-info>div .link span {
    position: absolute;
    right: 10px;
}

.traffic-info> .bus,.subway,.car {
    cursor: pointer;
}

.traffic-info>.traffic-title {
    background-color: var(--main-color);
}

.traffic-info .wrap {
    position: relative;
}

.traffic-info .wrap>div {
    width: 100%;
    text-align: center;
    line-height: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.traffic-info .wrap p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}




/*
.traffic-info .subway {
    width: 77%;
    height: 100%;
    border-radius: 30px;
    padding: 40px;
    margin: 12px 0;
    background: var(--div-color);
    display: flex;
    align-items: center;
    gap: 8px;
}
*/

/*
.traffic-info .car {
    width: 77%;
    height: 100%;
    border-radius: 30px;
    padding: 40px;
    background: var(--div-color);
    display: flex;
    align-items: center;
    gap: 8px;
}

.traffic-info .car p {
    font-size: 24px;
    font-weight: bold;
} */

/* ---------------- 상영시간표 ---------------- */
/* .movie-schedule-wrap {
    display: none;
} */

.movie-schedule h2 {
    font-size: 1.5em;
    margin-top: 50px;
    text-indent: 30px;
}

.calendar-wrap {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 40px;
    align-items: center;
    margin: 24px 0;
    padding: 0 30px;
}

.calendar-wrap .calendar img {
    width: 37px;
    height: 37px;
}

.calendar-list {
    position: relative;
    padding: 0px 40px;
}

.calendar-list .arrow-btn>li {
    position: absolute;
    /* display: flex; */
    top: 50%;
    transform: translateY(-50%);
}

.calendar-list .arrow-btn .left-btn {
    left: 0;
}

.calendar-list .arrow-btn .right-btn {
    right: 0;
}

.calendar-wrap .calendar-date {
    display: flex;
    gap: 36px;
}

.calendar-wrap .calendar-date>li>a {
    display: block;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    padding: 5px 15px;
}

.calendar-wrap .calendar-date>li.today>a {
    padding: 5px 10px;
}

.calendar-wrap .calendar-date>li.active {
    border-bottom: 3px solid #DA291C;
}

.calendar-wrap .calendar-date>li.sat {
    color: blue;
}

.calendar-wrap .calendar-date>li.sun {
    color: #DA291C;
}

.calendar-wrap .calendar-date>li.none {
    color: #8F9191;
}

.age-wrap .age-list {
    display: flex;
    justify-content: end;
    gap: 12px;
    padding-right: 100px;
}

.age-wrap .age-list>li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.age-wrap .age-list>li img {
    width: 32px;
    height: 32px;
}

.movie-list-wrap {
    height: 850px;
    overflow: hidden;
}

.movie-time-wrap {
    padding: 12px 0 50px;
    margin-bottom: 100px;
    position: relative;
}

.movie-time-wrap .movie-wrap {
    position: absolute;
    opacity: 0;
    top: 0px;
}

.movie-time-wrap .movie-wrap.active {
    position: relative;
    opacity: 1;
    z-index: 100;
}

.movie-time-wrap .movie-time {
    padding: 24px 0;
}

.movie-time-wrap .movie-time p {
    display: flex;
    align-items: center;
    gap: 12px;
}

.movie-time-wrap .movie-time .movie-name {
    display: flex;
    gap: 12px;
}

.movie-time-wrap .movie-time .movie-name p {
    font-size: 1.25em;
    font-weight: 600;
}

.movie-time-wrap .movie-time .movie-name img {
    width: 32px;
    height: 32px;
}

.movie-time-wrap .movie-time .screen {
    font-size: 1.25em;
    padding: 12px 0;
}

.movie-time .movie-time-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 24px 0; */
}

.movie-time .movie-time-list .movie-time-box {
    width: 200px;
    padding: 20px 20px;
    background: #1f1f1f;
    border-radius: 20px;
    /* margin: 10px; */
}

.movie-time .movie-time-list .movie-time-box span {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 12px;
}

.more-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.more-button a {
    /* display: block; */
    /* width: 100%; */
    padding: 5px 50px;
    padding-left: 60px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    display: flex;
}

.more-button a .hover {
    display: none;
}

.more-button a:hover {
    display: flex;
    background: #fff;
    color: #000;
    transition: 0.5s;
}

.more-button a:hover i {
    display: none;
}

.more-button a:hover .hover {
    display: block;
}

.special-wrap .inner h2 {
    padding-left: 60px;
    font-size: 36px;
}

.special-theater {
    overflow: hidden;
    margin: 50px 0;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.special-theater-list {
    display: flex;
    /* gap: 36px; */
}

.special-theater-list>li {
    /* flex: 0 0 calc(100% / 5 - 29px); */
    /* aspect-ratio: 1/0.6; */
}

.special-theater-list>li>a {
    display: block;
    width: 430px;
    /* height: 250px; */
    aspect-ratio: 1/0.6;
}

.special-theater-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* bus 팝업 */
.bus-wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.bus-wrap .close-btn {
    width: 30px;
    height: 30px;
}

.bus-hover {
    padding: 44px;
    /* padding-left: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    z-index: 100;
    background: #1F2025;
    border-radius: 30px;
    /* aspect-ratio: 1/0.4; */
    /* display: none; */
}

.bus-hover>.bus-h {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    /* padding: 20px; */
    border-radius: 30px;
}

.bus-hover>.bus-h>p {
    font-size: 24px;
    font-weight: bold;
    /* display: none; */
}

.bus-hover>div img {
    width: 40px;
    height: 40px;
    padding: 2px;
    background: #3B6EF5;
    border-radius: 50%;
}

.bus-hover .bus-num {
    margin-top: 5px;
}

.bus-hover .bus-num p{
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
}


.bus-hover hr {
    margin-top: 30px;
    border: 1px dashed ;
}

.bus-hover .traffic-info-list {

    padding: 30px;
    border-radius: 30px;
    height: 400px;
}

.bus-hover .traffic-info-list>li {
    list-style: disc;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.bus-hover .traffic-info-list .traffic-info-sub-list {
    margin-top: 5px;
}

.bus-hover .traffic-info-list .traffic-info-sub-list>li {
    font-size: 16px;
    font-weight: 300;
}

.bus-num .jisun {
    background: #2A2C32;
    margin-bottom: 5px;
}

.bus-num .jisun span {
    background: #E54848;
    padding: 0 10px;
    border-radius: 30px;
    margin-right: 8px;
}

.bus-num .jisun .num {
    background: #1F2025;
    padding: 3px 10px;
}

.bus-num .gansun {
    background: #2A2C32;
} 

.bus-num .gansun span {
    background: #3B6EF5;
    padding: 0 10px;
    border-radius: 30px;
    margin-right: 8px;
}

.bus-num .gansun .num {
    background: #1F2025;
    padding: 3px 10px;
}

/* subway 팝업 */
.subway-wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.subway-wrap .close-btn {
    width: 30px;
    height: 30px;
}

.subway-hover {
    padding: 44px;
    /* padding-left: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    z-index: 100;
    background: #1F2025;
    border-radius: 30px;
}

.subway-hover>.subway-h {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
    /* padding: 20px; */
    border-radius: 30px;
}

.subway-hover>.subway-h>p {
    font-size: 24px;
    font-weight: bold;
    /* display: none; */
}

.subway-hover>div img {
    width: 40px;
    height: 40px;
    padding: 2px;
    background: #E54848;
    border-radius: 50%;
}

.subway-hover .subway-num {
    margin-top: 5px;
}

.subway-hover .subway-num p{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 20px;
}


.subway-hover hr {
    margin-top: 30px;
    border: 1px dashed ;
}

.subway-hover .traffic-info-list {

    padding: 30px;
    border-radius: 30px;
    height: 400px;
}

.subway-hover .traffic-info-list>li {
    list-style: disc;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.subway-hover .traffic-info-list .traffic-info-sub-list {
    margin-top: 5px;
}

.subway-hover .traffic-info-list .traffic-info-sub-list>li {
    font-size: 16px;
    font-weight: 300;
}

.subway-num .hosun {
    background: #2A2C32;
} 

.subway-num .hosun span {
    background: #3B6EF5;
    padding: 2px 8px;
    border-radius: 30px;
    margin-right: 8px;
    font-weight: bold;
}

.subway-num .hosun .num {
    background: #fff;
    /* padding: 3px 5px; */
    border-radius: 50%;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

/* car 팝업 */
.car-wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.car-wrap .close-btn {
    width: 30px;
    height: 30px;
}

.car-hover {
    padding: 44px;
    /* padding-left: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    z-index: 100;
    background: #1F2025;
    border-radius: 30px;
}

.car-hover>.car-h {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
    /* padding: 20px; */
    border-radius: 30px;
}

.car-hover>.car-h>p {
    font-size: 24px;
    font-weight: bold;
    /* display: none; */
}

.car-hover>div img {
    width: 40px;
    height: 40px;
    padding: 2px;
    background: #5a5f6c;
    border-radius: 50%;
}

.car-hover .car-num {
    margin-top: 5px;
}

.car-hover .car-num p{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 20px;
}


.car-hover hr {
    margin-top: 30px;
    border: 1px dashed ;
}

.car-hover .traffic-info-list {

    padding: 30px;
    border-radius: 30px;
    height: 400px;
}

.car-hover .traffic-info-list>li {
    list-style: disc;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.car-hover .traffic-info-list .traffic-info-sub-list {
    margin-top: 5px;
}

.car-hover .traffic-info-list .traffic-info-sub-list>li {
    font-size: 16px;
    font-weight: 300;
}

.car-num .navi {
    background: #2A2C32;
} 

.car-num .navi .address {
    background: #2A2C32;
    font-size: 16px;
    font-weight: 400;
}

.car-num .navi span {
    background: #267d3e;
    padding: 2px 9px;
    border-radius: 30px;
    /* margin-right: 8px; */
    font-weight: bold;
}

