@media screen and (max-width: 1280px) {
    header {
        width: 100%;
    }

    .footer-bottom>.footer-bottom-left {
        flex-wrap: wrap;
    }

    .footer-bottom .footer-bottom-right {
        display: block;
    }

    .footer-bottom .family {
        padding: 10px;
        padding-left: 0;
    }

}

@media screen and (max-width: 768px) {
    .main-menu,
    .gnb-list {
        display: none;
    }

    header {
        position: relative;
        width: 100%;
    }

    .main-logo {
        width: 200px;
    }

    /* 모바일 메뉴 */
    .mobile-menu-wrap {
        display: block;
        position: fixed;
        top: 0;
        left: -9999px;
        width: 60%;
        height: 100vh;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.9);
    }

    .mobile-menu-wrap .mobile-menu-list {
        padding: 20px 20px;
        line-height: 2.3;
        font-size: 1.6em;
    }

    .mobile-menu-wrap .mobile-menu-list>li>a {
        display: block;
        width: 100%;
        /* background-color: red; */
    }

    .mobile-menu-wrap .mobile-menu-list>li>a::after {
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        background: #fff;
        transition: 0.5s;
    }

    .mobile-menu-wrap .mobile-menu-list>li:hover>a::after {
        width: 100%;
    }

    .mobile-menu-list .mobile-sub-menu {
        display: block;
        font-size: 16px;
        text-indent: 20px;
        /* padding: 10px; */
    }

    .mobile-menu-list .mobile-sub-menu>li>a {
        display: block;
        width: 100%;
    }

    .mobile-menu-list .mobile-sub-menu>li:hover>a {
        color: #DA291C;
    }

    .mobile-menu-wrap .gnb-list {
        display: flex;
        padding: 10px 20px;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .ham-btn {
        display: block;
        width: 24px;
        height: 16px;
        /* position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%); */
    }

    .ham-btn>a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ham-btn>a>span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
    }

    /* footer */
    footer .inner {
        display: flex;
        flex-direction: column;
    }

    .footer-top {
        padding: 25px 10px;
    }

    .footer-top .util-menu {
        gap: 12px;
    }

    .footer-top .util-menu span {
        display: none;
    }

    .footer-top .search-wrap {
        /* display: none; */
    }

    .footer-top .search-wrap>a {
        padding: 8px 30px;
    }

    .footer-bottom {
        display: block;
    }

    .footer-bottom .footer-bottom-left {
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom .footer-bottom-right {
        margin-top: 20px;
        gap: 12px;
    }

    .footer-bottom .footer-bottom-right .search-wrap-mobile {
        /* display: block; */
    }
}

@media screen and (max-width:480px) {
    /* footer */
    .footer-top .search-wrap {
        display: none;
    }

    .footer-bottom .footer-bottom-right .search-wrap-mobile {
        display: block;
    }

    .footer-bottom {
        position: relative;
    }

    .footer-bottom .footer-bottom-right {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column;
        justify-content: start;
        align-items: start; */
    }

    .footer-bottom .family {
        display: none;
    }
}