/* header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width: 1920px;
    z-index: 1000;
}

.main-logo {
    width: 300px;
    height: 54px;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.main-menu {
    display: flex;
    font-size: 1.25em;
    gap: 60px;
}

.main-menu>li {
    padding: 10px 0;
    position: relative;
}

.main-menu>li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #DA291C;
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li:hover::after {
    width: 100%;
}

.main-menu>li:hover .sub-menu {
    /* display: block; */
    height: auto;
}

.sub-menu {
    /* display: none; */
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 500px;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    z-index: 100;
}

.sub-menu>li>a {
    display: block;
    /* background: rgb(32, 32, 32); */
    text-align: center;
    padding: 15px 0;
}

/* .sub-menu>li>a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
} */

.sub-menu>li>a:hover {
    color: #DA291C;
}

.gnb-list {
    display: flex;
    gap: 20px;
}


body {
    font-size: 16px;
}

/* footer */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 36px;

}

.footer-top .util-menu {
    display: flex;
    gap: 24px;
    font-size: 0.875em;
    font-weight: 400;
    color: #dbdbdb;
}

.footer-top .util-menu>li:nth-child(3)>a {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.footer-top .search-wrap>a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 36px;
    border: 1px solid #fff;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
    margin: 0 20px;
}

.footer-bottom>.footer-bottom-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-bottom>div address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.875em;
    color: #dbdbdb;
}

.footer-bottom>div address span,
strong {
    margin-right: 14px;
}

.footer-bottom>div address span {
    font-weight: 400;
}

.footer-bottom .footer-bottom-right {
    display: flex;
    align-items: center;
    gap: 144px;
}

.footer-bottom .family {
    display: flex;
    align-items: center;
    font-size: 0.875em;
    color: #dbdbdb;
}

.footer-bottom .family img {
    width: 47px;
    height: 45px;
}

.footer-bottom .sns-list {
    display: flex;
    gap: 12px;
}

.footer-bottom .sns-list>li>a {
    display: block;
    width: 51px;
    height: 48px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px 13px;
}

/* 공동사항 */
.section-title {
    padding: 50px 25px;
}

.inner {
    background-color: rgba(127, 255, 212, 0.342);
    margin: 0 auto;
    padding: 20px;
    max-width: 1600px;
}

/* 강력추천 이벤트 */
.banner {
    display: block;
    /* background-color: rgba(94, 255, 0, 0.493); */
    margin: 0 auto;
    max-width: 100%;
    padding-top: 100px;
}

main section>h2 {
    font-size: 2.25em;
}

main .event-arco-list {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-bottom: 50px;
}

.event-arco-list .img-box {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.event-arco-list img {
    max-width: none;
    height: 25em;
    display: block;
}

.event-arco-list>li {
    /* border: 1px dashed pink; */
    max-width: 180px;
}

.event-arco-list>li:nth-child(3) {
    max-width: 1020px;
}

.event-arco-list .img-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+68 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 50%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.event-arco-list>li>a {
    display: block;
    position: relative;
    overflow: hidden;
}

.event-arco-list .text-box {
    position: absolute;
    bottom: 1em;
    left: 1em;
    white-space: nowrap;
    font-size: 1.2em;
}

.event-arco-list .text-box>p {
    line-height: 1.5;
    font-weight: 300;
}

.event-arco-list .text-box .arco-category {
    /* background-color: aqua; */
    display: inline-block;
    /* width: auto; */
    /* border-bottom: 5px solid #DA291C; */
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 6px;
}

.event-arco-list .text-box .arco-title {
    display: none;
}

.event-arco-list .text-box .arco-content {
    display: none;
}


.event-arco-list>li:nth-child(3) .text-box .arco-title {
    display: block;
}

.event-arco-list>li:nth-child(3) .text-box .arco-content {
    display: block;
}




/* 현재 진행중인 이벤트 */

.event-sub-tab-menu-list {
    display: flex;
    padding: 0 25px 20px;
    gap: 1em;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;

}

.event-sub-tab-menu-list>li:hover a {
    color: #DA291C;
    transition: 0.3s;
}

.event-sub-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 24px 48px;
}

.event-sub-list>li>a {
    display: block;
    /* border: 1px dashed pink; */
    position: relative;
    padding: 1.5em;
}

.event-sub-list .img-box {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.event-sub-list .img-box img {
    width: 100%;
    display: block;
}

.event-sub-list .img-box::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.4) 50%);

}

.event-sub-list .text-box {
    position: absolute;
    left: 36px;
    bottom: 36px;
}

.event-sub-list .text-box p {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.event-sub-list .text-title p {
    font-size: 1em;
    font-weight: 500;
}

.event-sub-list .text-box span {
    font-size: clamp(10px, 0.8em, 14px);
    font-weight: 200;
}


.page {
    display: flex;
    gap: 12px;
    justify-content: center;

}

.page span:last-child {
    color: #777
}

/* 더 찾아보기 */

.event-sub-tab-wrap {
    position: relative;
}

.event-search {
    display: flex;
    justify-content: center;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 999px;
    padding: 6px 12px;
}

.event-search input {
    border: none;
    /* border: 1px dashed pink; */
    outline: none;
    background: none;
    width: 10em;
}

.event-search button {
    display: block;
    background: none;
    border: none;
    /* border: 1px dashed pink; */
    width: 2em;
    height: 2em;
}

form {
    position: absolute;
    top: 1em;
    right: 1em
}