body {
    background: #000;
    color: #fff;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.2); */
}

/* 공동사항 */
.section-title {
    padding: 50px 25px;
}

.inner {
    /* background-color: rgba(127, 255, 212, 0.342); */
    margin: 0 auto;
    padding: 20px;
    max-width: 1600px;
}

/* 강력추천 이벤트 */
.banner {
    display: block;
    /* background-color: rgba(94, 255, 0, 0.493); */
    margin: 0 auto;
    max-width: 100%;
    padding-top: 100px;
}

section>h2 {
    font-size: 2.25em;
    padding-top: 100px;
}

.event-arco-wrap {
    width: 100%;
}

.event-arco-list {
    display: flex;
    gap: 1em;
    height: 420px;
}

.event-arco-list>li {
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.event-arco-list>li.active {
    flex: 5;
}

.event-arco-list>li.active img {
    width: 100%;
}

.event-arco-list .img-box {
    /* width: 100%; */
    height: 100%;
}

.event-arco-list img {
    /* width: 100%; */
    height: 100%;
    display: block;
    transition: 0.3s;
    max-width: none;
}


.event-arco-list .img-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+68 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 50%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.event-arco-list .text-box {
    position: absolute;
    bottom: -50px;
    left: 1em;
    white-space: nowrap;
    font-size: 1.2em;
    color: #fff;
}

.event-arco-list>li.active .text-box {
    bottom: 1em;
}

.event-arco-list .text-box>p {
    line-height: 1.5;
    font-weight: 300;
}

.event-arco-list .text-box .arco-category {
    /* background-color: aqua; */
    display: inline-block;
    /* width: auto; */
    /* border-bottom: 5px solid #DA291C; */
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 6px;
}

.event-arco-list .arco-title,
.event-arco-list .arco-content {
    opacity: 0;
    transition: 0.4s;
    white-space: nowrap;
}

.event-arco-list>li.active .arco-title,
.event-arco-list>li.active .arco-content {
    opacity: 1;
}




/* 현재 진행중인 이벤트 */

.event-sub-tab-menu-list {
    display: flex;
    padding: 0 25px 20px;
    gap: 1em;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;

}

.event-sub-tab-menu-list .active {
    color: #DA291C;
    /* transition: 0.3s; */
}

.event-sub-list {
    position: absolute;
    opacity: 0;
}

.event-sub-list.active {
    position: relative;
    z-index: 100;
    opacity: 1;
}


.event-sub-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 24px 48px;
}

.event-sub-list>li>a {
    display: block;
    /* border: 1px dashed pink; */
    position: relative;
    padding: 1.5em;
}

.event-sub-list .img-box {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.event-sub-list .img-box img {
    width: 100%;
    display: block;
}

.event-sub-list .img-box::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.4) 50%);

}

.event-sub-list .text-box {
    position: absolute;
    left: 36px;
    bottom: 36px;
}

.event-sub-list .text-box p {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.event-sub-list .text-title p {
    font-size: 1em;
    font-weight: 500;
}

.event-sub-list .text-box span {
    font-size: clamp(10px, 0.8em, 14px);
    font-weight: 200;
}


.page {
    display: flex;
    gap: 12px;
    justify-content: center;

}

.page span:last-child {
    color: #777
}

/* 더 찾아보기 */

.event-sub-tab-wrap {
    position: relative;
}

.event-search {
    display: flex;
    justify-content: center;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 999px;
    padding: 6px 12px;
}

.event-search input {
    border: none;
    /* border: 1px dashed pink; */
    outline: none;
    background: none;
    width: 10em;
}

.event-search button {
    display: block;
    background: none;
    border: none;
    /* border: 1px dashed pink; */
    width: 2em;
    height: 2em;
}

form {
    position: absolute;
    top: 1em;
    right: 1em
}